.number_button {
    font-weight: bolder;
    font-size: calc(10px + 2vw);
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    color: black;
}

.centered_numbered{
    padding-left: 0px;
}

.small_button_font {
    font-size: calc(0px + 0.8vw);
}

.number_button_on {
    color: darkgreen;
    border: 5px solid green;
}

.green_font {
    color: green;
}

.red_font {
    /*color: red;*/
}

.gray_font {
    color: red;
}

.on_off_label{
    
}

.on_label {
    margin-bottom: 0px;
    font-size: 14px;
}

.off_label {
    margin-top: 0px;
    font-size: 14px;
}

.toggle_margin{
    padding: 0px;
    margin: 0px;
}


.number_button_off {
    color: gray;
    border: 5px solid gray;
}

.error_text {
    color: red;
    font-size: 40px;
}

.normal_text {
    color: black;
    font-size: 40px;
}

.explanation_text {
    font-size: min(4vw, 18px);
}

.topcorner {
    float: right;
    top: 0;
    right: 0;
}

.scrollable_area {
    overflow-y: auto;
    height: 500px;
}

.emoji_font {
    font-size: min(6vw, 48px);
}

.large_input_field {
    font-size: min(6vw, 48px);
    width:100%;
}

.large_button {
    font-size: min(6vw, 48px);
    margin: 10px;
    padding: 10px;
}

.small_button {
    font-size: min(6vw, 36px);
    margin: 5px;
    padding: 5px;
}

.emoji_button {
    border: none;
}

.color_button {
    border: none;
    margin: 10px;
    padding: 15px;
    width: 80%
}

.color_label {
    float: left;
}

.color_choice {
    height: 10vh;
}

.chosen_color_border {
    border-color: black;
    border-width: 5px;
    border-style: solid;
}

.not_chosen_color_border {
    border-color: white;
    border-width: 5px;
    border-style: solid;
}

.user_label_font {
    font-weight: bold;
    font-size: min(3.5vw, 24px);
}

.user_emoji_font {
    font-size: 4vw;
}

.username_profile_label {
    display: inline-block;
    font-size: min(8vw, 54px);
    font-weight: bold;
}

.current_user_label {
    display: inline-block;
    font-size: min(7vw, 72px);
    font-weight: bold;
}

.current_user_avatar {
    display: inline-block;
    font-size: 72px;
}

.user_button_div{
    margin: 10px;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.setting_button {
    font-size: 32px;
    margin: 20px;
    padding: 20px;
    width: 100%;
}

.large_label {
    text-align: center;
    font-size: 32px;
    font-weight: bold;
}

.extra_space {
    padding: 20px;
    border: 5px solid black;
    border-radius: 40px;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

    /* Hide default HTML checkbox */
    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

    .slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.divide_icon {
    transform: rotate(45deg);
}

/* This css will make the toggle appear on*/
.toggle_rotate_270 {
    transform: rotate(270deg);
    transform-origin: center;
}

/* This css will make the toggle appear off*/
.toggle_rotate_90 {
    transform: rotate(90deg);
    transform-origin: center;
}

.operation_button_label{
    float:left;
}

.operation_button {
    color: black;
    background: white;
    font-weight: bolder;
    font-size: min(6vw, 36px);
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
}

.operation_button_large_font {
    font-size: min(12vw, 48px);
}


.operation_button_on {
    background-color: white;
    color: darkgreen;
    border: 5px solid darkgreen;
}

.operation_button_off {
    background-color: #E5E4E2;
    color: gray;
    border: 5px solid gray;
}

.current_problem {
    font-size: min(10vw, 144px);
    color: black;
    margin: 5px;
    padding: 5px;
}

.current_problem_small {
    font-size: min(10vw, 144px);
    color: black;
    margin: 0px;
    padding-left: 20px;
    padding-right: 20px;
    padding: 10px;
    margin-top:5px;
    margin-bottom: 0px;
}

.timer_class{
    border: 5px solid black;
    border-radius: 10px; 
    width: auto;
}

.green_box{
    border: 5px solid black;
    color:green;
}


.onoffswitch-inner {
    display: block;
    width: 200%;
    margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}

    .onoffswitch-inner:before, .onoffswitch-inner:after {
        display: block;
        float: left;
        width: 50%;
        height: 31px;
        padding: 0;
        line-height: 31px;
        font-size: 21px;
        color: white;
        font-family: Trebuchet, Arial, sans-serif;
        font-weight: bold;
        box-sizing: border-box;
    }

    .onoffswitch-inner:before {
        content: "ON";
        padding-left: 12px;
        background-color: #00941E;
        color: #FFFFFF;
    }

    .onoffswitch-inner:after {
        content: "OFF";
        padding-right: 12px;
        background-color: #EEEEEE;
        color: #999999;
        text-align: right;
    }

.onoffswitch-switch {
    display: block;
    width: 25px;
    margin: 3px;
    background: #FFFFFF;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 62px;
    border: 2px solid #999999;
    border-radius: 18px;
    transition: all 0.3s ease-in 0s;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px;
}

