@page
@model DanielsTools.Pages.Mathamania.OperationsModel
@{
    bool isNewUser = true;
    string userId = "";
    if (HttpContext.Request.Query.ContainsKey("UserId"))
    {
        var userIdValue = HttpContext.Request.Query["UserId"];
        var userIdString = userIdValue.ToString();
        if (!string.IsNullOrWhiteSpace(userIdString))
        {
            isNewUser = false;
        }
    }

    if (isNewUser)
    {
        ViewData["Title"] = "Create User";

    }
    else
    {
        ViewData["Title"] = "Update User";
    }

}

<link rel="stylesheet" href="~/css/math.css" />
<script src="~/js/shared_math.js" asp-append-version="true"></script>
<script src="~/js/operations.js" asp-append-version="true"></script>

<h1 class="unselectable">Operations</h1>

<div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-6">
                <button id="add_operation_button" class="unselectable operation_button">

                    <!-- This will change the layout of the button on larger screens-->
                    <div class="d-none  d-lg-block">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-8">
                                    <div class="row">
                                        <i class="bi bi-plus-lg"></i>
                                    </div>
                                    <div class="row">
                                        <div class="operation_button_label">Add</div>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div>
                                        <p class="on_label">ON</p>
                                    </div>
                                    <div class="toggle_rotate_270 toggle_margin">
                                        <i id="add_current_toggle" class="bi"></i>
                                    </div>
                                    <div>
                                        <p class="off_label">OFF</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- This will change the layout of the button for smaller screens-->
                    <div class="d-lg-none">
                        <div class="row">
                            <div class="col-4 align-self-center operation_button_large_font">
                                <i class="bi bi-plus-lg"></i>
                            </div>

                            <div class="col-8">
                                <span id="onoff_add" class="on_off_label operation_button_large_font"></span>
                            </div>

                        </div>
                    </div>

                </button>
            </div>
            <div class="col-6">
                <button id="subtract_operation_button" class="unselectable operation_button">

                    <!---->
                    <!-- This will change the layout of the button on larger screens-->
                    <div class="d-none  d-lg-block">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-8">
                                    <div class="row">
                                        <i class="bi bi-dash-lg"></i>
                                    </div>
                                    <div class="row">
                                        <div class="operation_button_label">Subtract</div>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div>
                                        <p class="on_label">ON</p>
                                    </div>
                                    <div class="toggle_rotate_270 toggle_margin">
                                        <i id="subtract_current_toggle" class="bi"></i>
                                    </div>
                                    <div>
                                        <p class="off_label">OFF</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- This will change the layout of the button for smaller screens-->
                    <div class="d-lg-none">
                        <div class="row">
                            <div class="col-4 align-self-center operation_button_large_font">
                                <i class="bi bi-dash-lg"></i>
                            </div>

                            <div class="col-8">
                                <span id="onoff_sub" class="on_off_label operation_button_large_font"></span>
                            </div>

                        </div>
                    </div>
                </button>
            </div>
            <div class="col-6">
                <button id="multiply_operation_button" class="unselectable operation_button">

                    <!---->
                    <!-- This will change the layout of the button on larger screens-->
                    <div class="d-none  d-lg-block">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-8">
                                    <div class="row">
                                        <i class="bi bi-x-lg"></i>
                                    </div>
                                    <div class="row">
                                        <div class="operation_button_label">Multiply</div>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div>
                                        <p class="on_label">ON</p>
                                    </div>
                                    <div class="toggle_rotate_270 toggle_margin">
                                        <i id="multiply_current_toggle" class="bi"></i>
                                    </div>
                                    <div>
                                        <p class="off_label">OFF</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- This will change the layout of the button for smaller screens-->
                    <div class="d-lg-none">
                        <div class="row">
                            <div class="col-4 align-self-center operation_button_large_font">
                                <i class="bi bi-x-lg"></i>
                            </div>

                            <div class="col-8">
                                <span id="onoff_mult" class="on_off_label operation_button_large_font"></span>
                            </div>

                        </div>
                    </div>
                </button>
            </div>
            <div class="col-6">
                <button id="divide_operation_button" class="unselectable operation_button">

                    <div class="d-none  d-lg-block">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-8">
                                    <div class="row divide_icon">
                                        <i class="bi bi-percent"></i>
                                    </div>
                                    <div class="row">
                                        <div class="operation_button_label">Divide</div>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div>
                                        <p class="on_label">ON</p>
                                    </div>
                                    <div class="toggle_rotate_270 toggle_margin">
                                        <i id="divide_current_toggle" class="bi"></i>
                                    </div>
                                    <div>
                                        <p class="off_label">OFF</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- This will change the layout of the button for smaller screens-->
                    <div class="d-lg-none">
                        <div class="row">
                            <div class="col-4 align-self-center operation_button_large_font divide_icon">
                                <i class="bi bi-percent"></i>
                            </div>

                            <div class="col-8">
                                <span id="onoff_divide" class="on_off_label operation_button_large_font"></span>
                            </div>

                        </div>
                    </div>
                </button>
            </div>
            <div class="col-12">
                <button id="swap_operation_button" class="unselectable operation_button">

                    <!---->
                    <!-- This will change the layout of the button on larger screens-->
                    <div class="d-none  d-lg-block">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-4">
                                    <div class="row">
                                        <i class="bi bi-arrow-left-right"></i>
                                    </div>
                                    <div class="row">
                                        <div class="operation_button_label">Swap</div>
                                    </div>
                                </div>
                                <div class="col-4 explanation_text">
                                    <p>This setting will randomly swap the numbers in the addition and multiplication problems</p>
                                </div>
                                <div class="col-4">
                                    <div>
                                        <p class="on_label">ON</p>
                                    </div>
                                    <div class="toggle_rotate_270 toggle_margin">
                                        <i id="swap_current_toggle" class="bi"></i>
                                    </div>
                                    <div>
                                        <p class="off_label">OFF</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- This will change the layout of the button for smaller screens-->
                    <div class="d-lg-none">
                        <div class="row">
                            <div class="col-4 align-self-center operation_button_large_font">
                                <i class="bi bi-arrow-left-right"></i>
                            </div>
                            <div class="col-8">
                                <span id="onoff_swap" class="on_off_label operation_button_large_font"></span>
                            </div>
                        </div>
                    </div>
                </button>
            </div>
        </div>
    </div>
</div>

<div class="row unselectable">
    <button type="button" id="cancelOperationsChangesButton" class="btn btn-secondary large_button">Cancel</button>
    <button type="button" id="saveOperationsButton" class="btn btn-primary large_button">Save</button>
</div>